body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
}
nav {
    width: 200px; /* 修改这里的宽度 */
    background: #f4f4f4;
    padding: 0px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center; /* 居中对齐标题 */
}
nav ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    text-align: center; /* 居中对齐列表 */
}
nav ul li {
    margin: 10px 0;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
nav .footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: center; /* 居中对齐底部链接 */
}
nav .footer a {
    text-decoration: none;
    color: #007BFF;
}
main {
    flex: 1;
    padding: 40px;
    margin-left: 270px; /* 确保内容不被固定的导航栏覆盖 */
}
h1, h2, h3 {
    color: #333;
}
p {
    margin: 10px 0;
}
ul {
    margin: 10px 0;
    padding-left: 20px;
}
li {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}